<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rook</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/banner.css">
</head>
<body onload="setupBanner()">
<div id="banner">
    <div id="logo">
        <a href="/">
            <img class="logo" src="../img/logo.jpg" alt="Logo" height="50"
                 width="50">
        </a>
    </div>
    <div>
        <h1 id="game-name">PB Rook Game</h1>
        <div id="main_menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <ul id="main-menu" class="right">

            </ul>
        </div>
    </div>
</div>

</body>
</html>