<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
    <div>
        <form action="/games/join" method="get">
            <h2>All Games</h2>
            <select name="game">
                <%if (games.length > 0) {
                    games.forEach(function(r) { %>
                <option value="<%= r.name%>"><%=r.name%></option>
                <%});}%>
            </select>
            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>