<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Philip Bowler">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Rook Game"</title>
</head>
<header>
    <div id="banner">
        <div id="logo">
            <a href="/">
                <img class="logo" src="img/logo.jpg" alt="Logo" height="50"
                     width="50">
            </a>
        </div>
        <h1>Rook Game</h1>
    </div>
</header>
</html>