<!DOCTYPE html>
<html>
<head>
    <% include ../partials/banner.ejs %>
</head>

<body>

<div>
    <form id="start" action="/cards/showHand" method="get">
        <input type="submit" value="Show Cards">
    </form>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>