<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>
<div>
    <form id="start" action="/showHand" method="get">
        <input type="submit" value="Show Cards">
    </form>
</div>

</body>
</html>