<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/stylesheets/game.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/cards.css">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/gameTable.js"></script>
    <% include ../partials/banner.ejs %>
</head>
<body onload="setupTable()">
<div id="game-info"></div>
<div id="status"></div>
<div id="game-menu"></div>
<div id="cards"></div>
<div id="played_cards"></div>

<% include ../partials/footer.ejs %>
</body>
</html>