<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/gameLounge.js"></script>
</head>

<body>
<header><% include ../partials/banner.ejs %></header>
<div id="user"></div>
<div id="status"></div>
<div id="game_list"><% include ../partials/gameList.ejs %></div>
<div id="new_game">
    <button id="new_game_button" onclick="showForm()">New Game</button>
</div>
<footer><% include ../partials/footer.ejs %></footer>
</body>
</html>