<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/stylesheets/game.css">
<head>
    <% include ../partials/banner.ejs %>
</head>
<body>
<div>
    <div id="board">
        <div id="player1">
            Player1
        </div>
        <div id="player2">
            Player2
        </div>
        <div id="table">
            Table
        </div>
        <div id="player3">
            Player3
        </div>
        <div id="player4">
            Player4
        </div>
    </div>
    <div id="buttons">
        <form id="getCards" action="/cards" method="get">
            <input type="submit" value="Get Cards">
        </form>
        <form id="start" action="/cards/showHand" method="get">
            <input type="submit" value="Show Cards">
        </form>
    </div>

</div>
<% include ../partials/footer.ejs %>
</body>
</html>