<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div>
  <form id="start" action="/getcards" method="get">
    <input type="submit" value="Deal Cards">
  </form>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>
