<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
<div>
  <form id="start" action="/getcards" method="get">
    <input type="submit" value="Deal Cards">
  </form>
</div>

</body>
</html>
