<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
<h2>Please Login or create an acount to play</h2>
<form action="/players/validate" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="submit" class="submit">
    <a href="/players/add" class="new_user">New User</a>
</form>
<% include ../partials/footer.ejs %>
</body>
</html>