<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/login.js"></script>
</head>
<body onload="setupLoginPage()">
<header><% include ../partials/banner.ejs %></header>
<h1>Welcome to Rook</h1>
<div id="status"></div>
<div id="login_menu"></div>
<div id="login_form"></div>
<footer><% include ../partials/footer.ejs %></footer>
</body>
</html>