<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Card Sorter">
    <meta name="keywords" content="Cards, Sort">
    <meta name="author" content="Philip Bowler">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Week 02 Extended Sort"</title>
    <link rel="stylesheet" type="text/css" href="sortCards.css">
    <script src="sortCards.js"></script>
</head>
<body>
<header>
</header>
<h2>Sort Cards</h2>
<section>
    <h3>Click on a button to produce a sorted hand of cards.</h3>
    <button id="rook_cards" onclick="sortHand('rook')">Rook Cards</button>
    <div id="output"></div>
    <div id="discard"></div>
</section>
<footer>
    <h4>Created by Philip Bowler</h4>
    <p>This is an addition to the sort function and will sort a hand of cards into suit and then by number from highest to lowest except for ones will be sorted first.</p>
</footer>
</body>
</html>